secrets
todo
.idea
.vs
src/js/structs
node_modules/puppeteer/.local-chromium/win64-938248/chrome-win/chrome.dll
node_modules/puppeteer/.local-chromium/win64-938248/chrome-win/interactive_ui_tests.exe
ProtoBot.pdb
src/cpp/ProtoBot/ProtoBot.vcxproj.filters
src/cpp/ProtoBot/token.txt
dpp.dll
libcrypto-1_1.dll
libsodium.dll
libssl-1_1.dll
zlib1.dll
ProtoBot.exe
opus.dll
src\cpp\ProtoBot\Debug
src\cpp\ProtoBot\out
src\cpp\ProtoBot\Release
src\cpp\ProtoBot\out\build
node_modules